.testimonial-block blockquote:before {
	content:"" !important;
}
.testimonial-block blockquote:after {
	content:"" !important;
}
.testimonial-block blockquote {
	padding:0 !important;
}

.testimonial blockquote {
	font-family: Georgia, serif;
	position: relative;
	margin: 0.5em;
	padding: 0.5em 2em 0.5em 3em;
	border-left: none !important;
}
/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */
.testimonial blockquote:before {
	font-family: Georgia, serif;
	position: absolute;
	font-size: 6em;
	line-height: 1;
	top: 0;
	left: 0;
	content: "\201C";
}
.testimonial blockquote:after {
	font-family: Georgia, serif;
	position: absolute;
	/* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
	float:right;
	font-size:6em;
	line-height: 1;
	right:0;
	bottom:-0.5em;
	content: "\201D";
}
.testimonial footer {
	padding: 0 2em 0 0;
	text-align:right;
}
.testimonial cite:before {
	content: "\2013";
}

.testimonial-slider blockquote {
	font-family: Georgia, serif;
	position: relative;
	margin: 0.5em;
	padding: 0.5em 2em 0.5em 3em;
	border-left: none !important;
}
/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */
.testimonial-slider blockquote:before {
	font-family: Georgia, serif;
	position: absolute;
	font-size: 6em;
	line-height: 1;
	top: 0;
	left: 0;
}
.testimonial-slider blockquote:after {
	font-family: Georgia, serif;
	position: absolute;
	/* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
	float:right;
	font-size:6em;
	line-height: 1;
	right:0;
	bottom:-0.5em;
}
.testimonial-slider footer {
	padding: 0 2em 0 0;
	text-align:right;
}
.testimonial-slider cite:before {
	content: "\2013";
}